.App {
  text-align: left;
}

.container {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  width: 800px;
  height: 400px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  color: white;
}

.Description {
  text-transform: capitalize;
}
.button {
  margin: 10px 0 0 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.formi {
  margin: 10px 0 0 0;
  border-radius: 30px;
}
.city {
  font-size: 10px;
  padding: 10px 0 0 0;
}

.float-left {
  margin: 0 20px 0 0;
}
ul {
  list-style: none;
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
  padding: 30px 0 0 100px;
}

.Open {
  text-decoration: none;
  color: #3d1173;
  margin-left: 120px;
}
.Open:hover {
  text-decoration: underline;
  color: #3d1173;
}
.dateTime {
  font-size: 15px;
}
.temp {
  margin: 0 0 0 10px;
}
.celsius,
.celsius1,
.farenheit,
.farenheit1 {
  font-size: medium;
  position: relative;
  top: -30px;
  color: yellow;
}
.celsius1,
.farenheit,
.farenheit1 :hover {
  cursor: pointer;
  color: white;
}

.image {
  width: 20px;
  margin-top: 20px;
}
.temp {
  font-size: 50px;
}
