.App {
  text-align: left;
}

.App-header {
  color: black;
}

.container {
  color: white;
  background-image: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
  width: 800px;
  height: 400px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
.Description {
  text-transform: capitalize;
}
.button {
  margin: 10px 0 0 10px;
  border-radius: 5px;
  border: 1px solid #ef7389;
}
.form {
  margin: 10px 0 0 0;
  border-radius: 5px;
}
.city {
  font-size: 20px;
  padding: 10px 0 0 0;
}

.time {
  font-size: 15px;
  font-style: italic;
}
ul {
  list-style: none;
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
  padding: 30px 0 0 100px;
}
button {
  margin: 2px;
  background-color: white;
}
.Open {
  text-decoration: none;
  color: #08179d;
  margin-left: 40px;
}
.Open:hover {
  text-decoration: underline;
  color: #08179d;
}
.dateTime {
  font-size: 15px;
}
.unit {
  font-size: medium;
  position: relative;
  top: -30px;
}
.icona {
  width: 150px;
  margin: 0 0 45px 0;
}
.temp {
  font-size: 60px;
  height: 400px;
}
